* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
}

.container div {
    padding: 15px;
   /* font-size: 32px; */
    font-family: "Roboto";
    font-weight: bold;
    color: black;
}

.sidebar {
    background-color: #4287f5;
    grid-row-end: span 2;
}


.title ul li {
    font-size: 20px;
}

.title ul li img, .bottom div img {
    height: 40px;
    width: 40px;
}

.menu ul li img, .other ul li img, .top div img {
    height: 20px;
    width: 20px;
}

ul, li {
    font-size: 18px;
    list-style-type: none;
}

.header, .main-content {
    grid-column-start: 2;
}

.header, .top, .bottom {
    display: grid;
}
.header {
    grid-template-rows: 50px 75px;
    grid-template-columns: 1fr;
}

.search-bar {
    border-radius: 5px;
    width: 450px;
    height: 20px;
    background-color: #bccbde;
}

.top, .bottom {
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
}

.left-side {

}
.right-side {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:50px 50px 100px;
}

.b-ls {
   display: grid;
   grid-template-columns: 50px 250px; 
}

.b-rs {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 30px;
}

button {
    border-radius: 5px;
    background-color: #4287f5;
    padding: 10px;
    width: 70px;
    height: 35px;
}

.greeting-container p {
    font-size: 10px;
}

.greeting-container h3 {
    font-size: 16px;
}

.main-content {
    background-color: #bccbde;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-end: 1;
}

.projects p {
    text-align: left;
}
.card {
    background-color: white;
    border-left: 3px solid goldenrod;
    
}

.summary {
    font-size: 10px;
    color: gray;
}

.title {
    font-size: 12px;
    color: black;
}

.card-icons img {
    height: 20px;
    width: 20px;
}

.card-icons {
    text-align: right;
}

.main-rs {
    display: grid;
    grid-template-rows: 15px 1fr 15px 1fr ;
}

.announcements, .trending {
    width: 180px;
    height: 200px;
    display: grid;
    background-color: white;
    grid-column-start: 2;
}

.announce, .trend {
    grid-column-start: 2;
}
.announce {
    grid-row-end: 1;
    }

.announcements {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 15px;
}

.announcements div p {
    font-size: 8px;
}

.trending {
    
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.trending img {
    grid-column-end: 1;
    height: 25px;
    width: 25px;
    
}

.trending p {
    font-size: 12px;
}

.cat {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.bull {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.koala {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.elephant {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}