* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: "Roboto";
    font-weight: bold;
    color: black;
}

.sidebar {
    background-color: #4287f5;
}


.title ul li {
    font-size: 20px;
}

.title ul li img {
    height: 40px;
    width: 40px;
}

.menu ul li img, .other ul li img  {
    height: 20px;
    width: 20px;
}

ul, li {
    font-size: 18px;
    list-style-type: none;
}

.header, .main-content {
    grid-column-start: 2;
}

.main-content {
    background-color: #bccbde;
}

.trending {
    width: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.trending img {
    grid-column-end: 1;
    height: 25px;
    width: 25px;
    gap: 15px;
}

.trending p {
    font-size: 12px;
}

.cat {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.bull {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.koala {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.elephant {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}